/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/createInstance/style.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.style_wrapper__ciZ_x{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.style_title__mZevq{
    padding: 20px;
    color: rgba(255, 255, 255, 0.815);
    font-size: 30px;
}
.style_title__mZevq p{
    font-size: 20px;
    font-weight: 400;
}

.style_card__N_udl{
    min-width: 350px;
    border-radius: 12px;
    padding: 10px;
    color: rgb(24, 23, 23);
    background-color: #f8f8f8;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.style_card__N_udl h1{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.style_logo__vEXCh i{
    color: rgb(243, 212, 39);
    font-size: 100px;
}
.style_card__N_udl span i{
    color: rgb(5, 151, 0);
}

.style_card__N_udl button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.144);
    border-radius: 12px;
}


